<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>icon</key>
			<string>icon1-1.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>icon</key>
			<string>icon1-2.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>icon</key>
			<string>icon1-3.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>icon</key>
			<string>icon1-4.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>icon</key>
			<string>icon1-5.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>icon</key>
			<string>icon1-6.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>icon</key>
			<string>icon1-7.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>icon</key>
			<string>icon1-8.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>icon</key>
			<string>icon1-9.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>icon</key>
			<string>icon1-10.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>icon</key>
			<string>icon1-11.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>icon</key>
			<string>icon1-12png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>icon</key>
			<string>icon1-13.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>icon</key>
			<string>icon1-14.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>icon</key>
			<string>icon1-15.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>icon</key>
			<string>icon1-16.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>icon</key>
			<string>icon2-1.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>icon</key>
			<string>icon2-2.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>icon</key>
			<string>icon2-3.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>icon</key>
			<string>icon2-4.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>icon</key>
			<string>icon2-5.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>icon</key>
			<string>icon2-6.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>icon</key>
			<string>icon2-7.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>icon</key>
			<string>icon2-8.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>icon</key>
			<string>icon2-9.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>icon</key>
			<string>icon2-10.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>icon</key>
			<string>icon2-11.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>icon</key>
			<string>icon2-12png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>icon</key>
			<string>icon2-13.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>icon</key>
			<string>icon2-14.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>icon</key>
			<string>icon2-15.png</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>icon</key>
			<string>icon2-16.png</string>
		</dict>
	</array>
</array>
</plist>
