<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>金字塔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>name</key>
		<string>飞鸽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>name</key>
		<string>老坛子酒</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.png</string>
		<key>name</key>
		<string>滴水之恩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.png</string>
		<key>name</key>
		<string>名片设计</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.png</string>
		<key>name</key>
		<string>中国之声</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.png</string>
		<key>name</key>
		<string>红海</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.png</string>
		<key>name</key>
		<string>万能钥匙</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.png</string>
		<key>name</key>
		<string>我是演说家</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.png</string>
		<key>name</key>
		<string>一键分享</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11.png</string>
		<key>name</key>
		<string>指南针</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12.png</string>
		<key>name</key>
		<string>指南针2</string>
	</dict>
</array>
</plist>
